body{text-transform: capitalize;
  font-family: 'Lato', sans-serif;}
.header1{background-color: white;

z-index:1;
width: 100%;
box-shadow: 12px 12px 2px 2px rgba(0, 0, 0, 0.219);
height: 70px;
}
.component{
  padding: 0% 0% 3% 0%;
}
.component2{
  padding:5% 5% 5% 5%;
}
#loading{
  width: 100%;
  height: 100vh;
  background:black url('https://blog.hubspot.com/hs-fs/hubfs/7a8f8d634013568124e130728834d47a.gif?width=1500&name=7a8f8d634013568124e130728834d47a.gif') no-repeat center;
  position: fixed;
  z-index: 999;
}
.img1{width: 70%;
    height: 70px;
    }
    .navbar {
      
      background-color: none;
    }
    
    .navbar a {
      float: left;
      font-size: 16px;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    .dropdown {
      float: left;
      overflow: hidden;
    }
    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: black;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
     border-bottom: 2px solid yellow;
    }
    
    .dropdown-content {
  
      display: none;
      position: fixed;
      background-color: rgba(17, 17, 17, 0.651);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      padding: 3%;
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color:rgba(0, 0, 0, 0.171);
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
  .mySlides {display:none;}
  .pos {width: 100%;
    padding: 1%;
    
    position: relative;
    top: 50%;
   float: left;
   
    z-index: 1;
    color: white;
    background-color: rgba(17, 17, 17, 0.815);
  }

  

@keyframes vertical {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 0;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  38% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  45% {
    opacity: 0;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.verticalflip {position: absolute;
  width: 100%;
  top: 50%;
  font-size: 300%;
  font-weight: bold;
}

.verticalflip span {width:100%;
  animation: vertical 7.5s linear infinite 0s;
  -ms-animation: vertical 7.5s linear infinite 0s;
  -webkit-animation: vertical 7.5s linear infinite 0s;
  color: white;
  position: absolute;
  opacity: 0;
  background: rgba(17, 17, 17, 0.411);
  padding: 3px;
  
  left: 0%;
}

.verticalflip span:nth-child(2) {
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.verticalflip span:nth-child(3) {
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

  /* .ml9 {
    position: relative;
    font-weight: 100;
    font-size: 8vw;
  }
  
  .ml9 .text-wrapper {
    position: relative;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
  } */

  .text1{
    font-size: 40px;
    font-weight: bold;
    
  }
  .img2{ 
    width: 100%;
    height: 250px;
    
  }
  
  .overlay:hover{
    transform: scale(1.1); 
   
  }
  .overlay{transition: transform .3s;
    box-shadow: 10px 5px 5px 5px rgba(17, 17, 17, 0.295);
    background-color: white;
    padding: 3%;
    color:black;
    text-align: center;
    
  }
  .overlay2{text-align: center;
    transition: transform .3s;
  }
.overlay2:hover{
  transform: scale(1.1); 
}
.overlay3{padding: 5%;
  text-align: center;
  background-color: white;
  
  box-shadow: 10px 5px 5px 5px rgba(17, 17, 17, 0.295);
}
.imgman{padding-bottom: 3%;
  text-align: center;
}
.tex5{font-weight: bold;
  text-align: center;
}
.text6{
  font-weight: bold;
}
.fa {border-radius:50%;
  padding: 15px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px 2px 10px;
  
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.down{padding-bottom: 5%;
  margin-top: 5%;
  background-color: #111;
  color: white;
  text-align: center;
}
.footercolor{text-transform: uppercase;
  color: rgba(255, 166, 0, 0.768);
}
.imgbackground{padding: 3% 0% 5% 0%;
  background-color: rgba(128, 128, 128, 0.132);
}
.footertext2{padding-top: 5%;
  text-align: center;
  color: orange;
  font-size: 15px;
}
.phoneheader{
  display: none;
}
.headerwork{
  text-align: center;
  background-color: yellow;
  padding: 1%;
  margin: 3% 0% 3% 0%;
}
.overlay4{transition: transform .3s;
  box-shadow: 10px 5px 5px 5px rgba(17, 17, 17, 0.295);
  background-color: #111;
  padding-bottom: 3%;
  color:white;
  text-align: center;
  margin: 5% 5% 5% 5%;
  padding: 1%;
}
.overlay4:hover{
  transform: scale(1.1); 
 
}
.slider {
  width: 90%;
  margin: 100px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: black;
}


.slick-slide {
transition: all ease-in-out .3s;
opacity: 1;
}

.slick-active {
opacity: 1;
}

.slick-current {
opacity: 1;
}
.image { 
  display: block;
  width: 100%;
  height: 200px;
}
.overimagetext{ box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.397);
  position: relative;
  width: 100%;
}
.overlay5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overimagetext:hover .overlay5 {
  opacity: 0.5;
}


.printimg1{height: 250px;
  width: 100%;
}
#contact{
  padding:10px 0 10px;
}

.contact-text{
  margin:45px auto;
}

.mail-message-area{
  width:100%;
  padding:0 15px;
}

.mail-message{
  width: 100%;
  background:rgba(255,255,255, 0.8) !important;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  transition: all 0.7s;
  margin:0 auto;
  border-radius: 0;
}

.not-visible-message{
  height:0px;
  opacity: 0;
}

.visible-message{
  height:auto;
  opacity: 1;
  margin:25px auto 0;
}

/* Input Styles */

.form{
  width: 100%;
  padding: 15px;
  background:#f8f8f8;
  border:1px solid rgba(0, 0, 0, 0.075);
  margin-bottom:25px;
  color:#727272 !important;
  font-size:13px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form:hover{
  border:1px solid #8BC3A3;
}

.form:focus{
  color: white;
  outline: none;
  border:1px solid #8BC3A3;
}

.textarea{
  height: 200px;
  max-height: 200px;
  max-width: 100%;
}

/* Generic Button Styles */

.button{
  padding:8px 12px;
  background:#0A5175;
  display: block;
  width:120px;
  margin:10px 0 0px 0;
  border-radius:3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align:center;
  font-size:0.8em;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
  background:#8BC3A3;
  color:white;
}

/* Send Button Styles */

.form-btn{
  width:180px;
  display: block;
  height: auto;
  padding:15px;
  color:#fff;
  background:#8BC3A3;
  border:none;
  border-radius:3px;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin:auto;
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
  background:#111;
  color: white;
  border:none;
}

.form-btn:active{
  opacity: 0.9;
}
center{
margin-top:330px;
}
input {
  position: relative;
  z-index: 9999;
}
.textjustify{font-size: 15px;
  text-align: justify;
  line-height: 1.5;
}
.imagewidth{
  width: 100%;
}
@media only screen and (max-width:450px) {
.header1{
  display: none;
}
  .overlay2{
    display: block;
  }
.overlay2:hover{
  display: block;
}
.overlay:hover{
  display: block; 
 
}
.phoneheader{
  display: block;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 15px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}



.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
.img1{
  width: 80%;
  
}
.verticalflip {position: absolute;
  width: 100%;
  top: 50%;
  font-size: 100%;
  font-weight: bold;
}
.printimg1{height: 200px;
  width: 100%;
}
/* .dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: black;
  padding: 0px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgba(17, 17, 17, 0.11);
 
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 15px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
.footertext2{padding-top: 5%;
  text-align: center;
  color: orange;
  font-size: 10px;
}
}
@media only screen and (min-width: 451px) and (max-width:770px) {
  .header1{
    display: none;
  }
    .overlay2{
      display: block;
    }
  .overlay2:hover{
    display: block;
  }
  .overlay:hover{
    display: block; 
   
  }
  .phoneheader{
    display: block;
  }
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }.img1{
    width: 80%;
    
  }
  .verticalflip {position: absolute;
    width: 100%;
    top: 50%;
    font-size: 150%;
    font-weight: bold;
  }
  .printimg1{height: 200px;
    width: 100%;
  }
  /* .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: black;
    padding: 0px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } */
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
  }